<web-app>

 <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>servlets.user.HelloWorld</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>servlets.user.Login</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>servlets.user.Logout</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>createUser</servlet-name>
    <servlet-class>servlets.user.CreateUser</servlet-class>
  </servlet>
  
  <servlet>
	<servlet-name>addFriend</servlet-name>
	<servlet-class>servlets.friend.AddFriend</servlet-class>
  </servlet>

	<servlet>
	<servlet-name>removeFriend</servlet-name>
	<servlet-class>servlets.friend.RemoveFriend</servlet-class>
  </servlet>
  
  <servlet>
	<servlet-name>listFriend</servlet-name>
	<servlet-class>servlets.friend.ListFriend</servlet-class>
  </servlet>
  
  <servlet>
	<servlet-name>addMessage</servlet-name>
	<servlet-class>servlets.message.AddMessage</servlet-class>
  </servlet>

  <servlet>
	<servlet-name>deleteMessage</servlet-name>
	<servlet-class>servlets.message.DeleteMessage</servlet-class>
  </servlet>
  
  <servlet>
	<servlet-name>listMessage</servlet-name>
	<servlet-class>servlets.message.ListMessage</servlet-class>
  </servlet>
  
  
  
  
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
   
   <servlet-mapping>
    <servlet-name>createUser</servlet-name>
    <url-pattern>/CreateUser</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>addFriend</servlet-name>
    <url-pattern>/AddFriend</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>removeFriend</servlet-name>
    <url-pattern>/RemoveFriend</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>listFriend</servlet-name>
    <url-pattern>/ListFriend</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>addMessage</servlet-name>
    <url-pattern>/AddMessage</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>deleteMessage</servlet-name>
    <url-pattern>/DeleteMessage</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>listMessage</servlet-name>
    <url-pattern>/ListMessage</url-pattern>
  </servlet-mapping>
   
</web-app>
